<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VerseFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>


		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<userSettings>
		<VerseFlow.Properties.Settings>
   <setting name="AppFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="BibleFont" serializeAs="String">
    <value>Verdana, 9pt</value>
   </setting>
   <setting name="BibleBackColor" serializeAs="String">
    <value>Control</value>
   </setting>
   <setting name="BibleForeColor" serializeAs="String">
    <value>ControlText</value>
   </setting>
  </VerseFlow.Properties.Settings>
	</userSettings>
</configuration>
